@import "tailwindcss";

@theme {
  --color-fireflyOrange: #f9a11f;
  --color-fireflyBlack: #231f20;
  --color-fireflyGray: #f1f1f2;
}

.scrollbar-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
